.logo {
	width: 80px;
	cursor: pointer;
}

.menu > * , .menu {
	cursor: pointer;
}
/** Product Item */
.titleHolder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.titleHolder .price {
	font-weight: 800;
}

.dialogForm {
	display: flex;
	justify-content: center;
	align-items: center;
}
